.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -20000;
    //background-color: rgba(0, 0, 0, 0.8);
    color: rgba(41, 74, 127, 0.9);

    .icon {
        margin-right: 1rem;
        font-size: 1.85rem;
    }

    .success {
        color: darkgreen;
    }

    .error {
        color: red;
    }

    .modal-content {
        background-color: white;
        position: relative;
        width: 50%;
        left: 25%;
        padding: 1rem;
        border-radius: 1rem;
        transition: all 500ms ease-in-out;

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 1rem;
            border-bottom: 2px solid rgb(200, 200, 200);

            .modal-title {
                display: flex;
                align-items: center;
            }

            .close-icon {
                margin: 0;
                cursor: pointer;
                transition: all 150ms ease-in-out;

                &:hover {
                    background-color: rgb(200, 200, 200);
                    color: white;
                }
            }
        }

        .modal-body {
            display: flex;
            border-bottom: 2px solid rgb(200, 200, 200);
            margin-bottom: 1rem;
            padding: 1rem 0;

            svg {
                margin: 0 auto;
            }
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media screen and (max-width: 600px) {
    .modal {
        .modal-content {
            width: 90%;
            left: 5%;
        }
    }
}