.private-repository-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
    font-family: Arial, sans-serif;

    background-color: rgba(150, 150, 150, 0.8);

    position: fixed;
    top: 0;
    width: 100vh;
    height: 100vh;
    z-index: 10001;

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 500px;

        .icon {
            margin-left: auto;
            margin-right: 0;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            transition: all 150ms ease-in-out;
            margin-bottom: 1rem;
            position: relative;
            top: -1rem;
            right: -1rem;

            &:hover {
                //background-color: red;
                color: red;
            }
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        p {
            color: #666;
            font-size: 18px;
            margin-bottom: 30px;
        }

        a {
            color: #fff;
            background-color: #007bff;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 18px;
            transition: background-color 0.3s ease;
            align-self: center;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}