$primary-color: #007bff;
$secondary-color: #0056b3;
$body-background-color: #fff;
$primary-foreground-color: #fff;
$secondary-foreground-color: #45505B;
$header-background: rgba(0, 0, 0, 0.6);
$footer-background: rgba(0, 0, 0, 1);
$bright-color: #ffc42e;
$shadow-color: rgba(0, 0, 50, 0.5);

#pro {
    //background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-filter {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 1rem;
        margin-bottom: 2rem;

        li {

            p {
                cursor: pointer;
                transition: all .3s;
                text-underline-offset: 2px;
                user-select: none;
                color: $secondary-foreground-color;

                &:hover {
                    color: $bright-color;
                }
            }

            .active-selector {
                text-decoration: underline;
            }
        }
    }

    .slick-slider {
        // Styles for the main slider container
        width: 95%;
        display: flex;
        margin-bottom: 2rem;
        max-width: 1200px;

        .slick-list {
            // Styles for the visible portion of the slider
            //background-color: black;

            .slick-track {
                // Styles for the track that contains the slides
                //background-color: red;

                .slick-slide {
                    // Styles for individual slides
                    background-color: white;
                    //border: 10px solid black;
                    display: flex;
                    justify-content: center;

                    >div {
                        display: flex;
                        gap: 1rem;
                        //border: 5px solid red;

                        .project-card {
                            display: flex;
                            flex-direction: column;
                            padding: 1.5rem;
                            transition: transform 0.3s;
                            width: 400px;
                            margin-left: auto;
                            margin-right: auto;
                            //border: 1px solid blue;

                            .img-container {
                                display: flex;
                                flex-direction: column;

                                img {
                                    width: 200px;
                                    height: 100px;
                                }

                                h5 {
                                    display: flex;
                                    //justify-content: flex-end;
                                    align-items: flex-start;
                                    height: 2rem;
                                    position: relative;
                                    z-index: 100;
                                    opacity: 40%;
                                    text-transform: uppercase;
                                    padding-top: 0.5rem;
                                }
                            }

                            h3 {
                                margin-top: 10px;
                                font-size: 1.5rem;
                                color: $secondary-foreground-color;
                                text-align: left;
                            }

                            p {
                                text-align: left;
                                margin: 0.75rem 0;
                                color: $secondary-foreground-color;
                            }

                            .button-container {
                                display: flex;
                                justify-content: space-between;
                                margin-top: auto;
                                margin-bottom: 0;
                                flex-direction: column;
                                gap: 0.5rem;

                                .btn {
                                    margin-bottom: 0;
                                    user-select: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .slick-dots {
            // Styles for the navigation dots
            //background-color: yellow;
            //bottom: -30px;

            li {
                // Styles for individual dot items
                //border: 2px solid blue;

                button {
                    // Styles for dot buttons
                    //border: 2px solid red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 300ms ease-in-out;

                }

                &.slick-active {
                    // Styles for active dot item
                    background-color: black;
                    color: white;
                    scale: 1.3;
                }

                &:hover:not(.slick-active) {
                    background-color: darkcyan;
                }
            }
        }

        .slide-btn {
            // Styles for the previous arrow button
            color: white;
            display: flex;
            align-items: center;

            svg {
                height: 2.5rem;
                width: 2.5rem;
                color: #45505B;
                cursor: pointer;
                transition: all 150ms ease-in-out;

                &:hover {
                    scale: 1.4;
                }
            }
        }

        #previous-button {
            // Styles for the next arrow button
            //background-color: orange;

            svg {
                transform: rotate(180deg);
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #pro {

        .project-card {
            width: unset !important;

            img,
            h5 {
                display: none !important;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #pro {
        .slick-slider {
            .slick-dots {
                display: none;
            }
        }
    }
}

@media (hover: none),
(pointer: coarse) {
    #pro {
        .project-filter {
            li {
                p {
                    &:hover {
                        color: $secondary-foreground-color;
                    }
                }
            }
        }
    }
}