$primary-color: #007bff;
$secondary-color: #0056b3;
$body-background-color: #f7f9fc;
$primary-foreground-color: #fff;
$secondary-foreground-color: #45505B;
$header-background: rgba(0, 0, 0, 0.6);
$footer-background: rgba(0, 0, 0, 1);
$bright-color: #ffc42e;
$shadow-color: rgba(0, 0, 50, 0.5);

#resume {
    background-color: rgba(0, 0, 0, 0.05);

    strong {
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0);
    }


    #resume-content {

        .summary,
        .non-it {
            display: none;
        }

        width: 90%;
        max-width: 1200px;
        margin: 1.5rem auto;
        padding: 3rem 2rem;
        background: $primary-foreground-color;
        //box-shadow: 0 4px 10px $shadow-color;
        text-align: center;

        .intro-text {
            font-size: 1.1rem;
            line-height: 1.6;
            margin-bottom: 2rem;
            text-align: left;
        }

        .columns {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 4rem;

            .column-left,
            .column-right {
                flex: 1;
                min-width: 280px;

                article {
                    margin-bottom: 2rem;
                    text-align: left;
                    position: relative;

                    h3 {
                        padding-bottom: 0.5rem;
                        margin-bottom: 1rem;
                        font-size: 1.5rem;
                        //text-transform: uppercase;
                        color: $secondary-foreground-color;
                        font-weight: bold;
                        display: inline-block;
                    }

                    h4 {
                        font-size: 1.2rem;
                        margin-bottom: 0.5rem;
                        font-weight: bold;
                        color: $secondary-foreground-color;
                    }

                    p {
                        margin: 0.5rem 0;
                        line-height: 1.6;
                    }

                    ul {
                        padding: 0;
                        padding-left: 1rem;

                        li {
                            margin-bottom: 0.5rem;
                        }
                    }
                }

                .summary {

                    .name {
                        font-size: 1.3rem;
                        font-weight: bold;
                        color: $secondary-foreground-color;
                    }

                    .description {
                        margin: 0.75rem 0;
                        font-size: 1rem;
                        line-height: 1.5;
                    }

                    .contact-info {
                        font-size: 0.9rem;
                        color: $secondary-foreground-color;

                        li {
                            margin-bottom: 5px;
                        }
                    }
                }

                .summary,
                .education,
                .experience {

                    .info,
                    .degree,
                    .job {
                        padding-bottom: 1.5rem;
                        border-left: 2px solid $secondary-color;
                        padding-left: 1rem;
                        position: relative;

                        p {
                            margin: 0.5rem 0;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            left: -11px;
                            top: 0;
                            background: $primary-foreground-color;
                            border: 2px solid $secondary-color;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    #resume {
        #resume-content {
            width: 100%;
            margin: 1.5rem 0;
            //padding: 1rem;

            .columns {
                gap: 1rem;
            }
        }
    }
}