$primary-color: #007bff;
$secondary-color: #0056b3;
$body-background-color: #fff;
$primary-foreground-color: #fff;
$secondary-foreground-color: #45505B;
$header-background: rgba(0, 0, 0, 0.6);
$footer-background: rgba(0, 0, 0, 1);
$bright-color: #ffc42e;
$shadow-color: rgba(0, 0, 50, 0.5);

#reviews {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    padding: 4rem 2rem;

    .slick-slider {
        //border: 5px solid black;
        display: flex;
        justify-content: center;
        //max-width: 800px;
        width: 100%;
        align-items: center;

        p {
            padding: 0 20%;
            width: 100%;
        }

        .slide-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1rem;
            display: none;

            .icon {
                font-size: 2.5rem;
                border: 2px solid rgb(180, 180, 180);
                border-radius: 50%;
                cursor: pointer;
                transition: all 150ms ease-in-out;
            }

            .icon:hover {
                background-color: rgb(120, 120, 120);
                color: white;
            }
        }

        #previous-button {
            .icon {
                transform: rotate(180deg);
            }
        }

        .content {
            //border: 5px solid blue;
            height: 100%;
            display: flex;

            p {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-bottom: 1rem;
                letter-spacing: 0.5px;
                line-height: 1.75rem;

                i {
                    margin: unset;
                    font-style: italic;

                    .icon {
                        margin: 0 1.5rem;
                        font-size: 1.35rem;
                        color: $primary-color;
                    }
                }
            }

            h3 {
                text-align: center;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            h5 {
                text-align: center;
            }
        }

    }
}

@media screen and (max-width: 600px) {
    #reviews {
        .slick-slider {
            p {
                padding: 0 1rem;
            }
        }
    }
}