@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

$primary-color: #007bff;
$secondary-color: #0056b3;
$body-background-color: #fff;
$primary-foreground-color: #fff;
$secondary-foreground-color: #45505B;
$header-background: rgba(0, 0, 0, 0.8);
$footer-background: rgba(0, 0, 0, 1);
$bright-color: #ffc42e;
$shadow-color: rgba(0, 0, 50, 0.5);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
}

.App {
    background-color: white;
}

section {
    padding: 3rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;

    &::after {
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        background-color: $secondary-color;
        margin: 8px auto 0;
        border-radius: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 30px;
    font-weight: 400;
    letter-spacing: .3px;
    border-radius: 4px;
    transition: all .3s;
    flex-grow: 1;
    flex-basis: auto;
    justify-content: center;
    margin: 0 2px 12px 2px;
    text-decoration: none;
    border: 1px solid #cfd4e4;
    color: $secondary-color;
    text-align: center;

    &:hover {
        color: $primary-color;
        border-color: $secondary-color;
    }
}

body {
    font-family: "Arial", sans-serif;
    background-color: $body-background-color;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    color: $primary-foreground-color;
    margin-bottom: -53px;
    position: fixed;
    width: 100%;
    background-color: $header-background;
    transition: all 300ms ease-in-out;
    z-index: 1000;
}

.header-show {
    top: 0;
}

.header-hide {
    top: -100px;
}

#hero {
    background: url("../img/hero-bg2.webp") no-repeat center center/cover;
    height: calc(100vh);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: $primary-foreground-color;

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 2rem;

        h1 {
            text-align: left;
            padding: 0.5rem 1rem;
            font-size: 3rem;
            text-shadow:
                -1px 0 0 #2f2e2e,
                1px 0 0 #2f2e2e,
                0 -1px 0 #2f2e2e,
                0 1px 0 #2f2e2e;
        }

        p {
            text-align: left;
            padding: 0.5rem 1rem;
            font-size: 1.5rem;
            height: 5rem;
            display: flex;
            align-items: flex-start;

            span {
                font-family: "Share Tech Mono", monospace;
            }
        }
    }
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .container {
        width: 100%;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        h2 {
            color: $secondary-foreground-color;
        }

        .img-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            width: 100%;
            max-width: 1400px;
            background: url("../img/me4.webp") no-repeat top right/cover;
            height: 600px;

            .intro-container {
                display: flex;
                padding: 3rem 0;
                flex-direction: column;
                justify-content: flex-end;
                color: white;
                gap: 3rem;
                background-color: $shadow-color;
                width: 100%;
            }
        }

        p {
            max-width: 1200px;
            text-align: center;
            font-size: 1.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .icon {
            color: $secondary-foreground-color;

            &:hover {
                color: $bright-color;
            }
        }
    }
}

#projects {
    h2 {
        color: $secondary-foreground-color;
    }

    .project-filter {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 1rem;
        margin-bottom: 2rem;

        li {

            a {
                cursor: pointer;
                transition: all .3s;
                text-underline-offset: 2px;
                user-select: none;
                font-weight: bold;

                &:hover {
                    color: $bright-color;
                }
            }

            .active-selector {
                text-decoration: underline;
            }
        }

    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 3rem;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        box-shadow: 0px 5px 90px 0px $shadow-color;
        transition: transform 0.3s;

        &:hover {
            transform: translateY(-5px);
        }

        .img-container {
            display: flex;
            flex-direction: column;

            img {
                width: 200px;
                height: 100px;
            }

            h5 {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                height: 2rem;
                position: relative;
                z-index: 100;
                opacity: 40%;
            }
        }

        h3 {
            margin-top: 10px;
            font-size: 1.5rem;
            color: $secondary-foreground-color;
            text-align: left;
        }

        p {
            text-align: left;
            margin: 0.75rem 0;
            color: $secondary-foreground-color;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            margin-top: auto;
            margin-bottom: 0;
            flex-direction: column;
            gap: 0.5rem;

            .btn {
                margin-bottom: 0;
                user-select: none;
            }
        }
    }
}

#skills {
    color: $primary-foreground-color;

    .container {
        h2 {
            color: $secondary-foreground-color;
        }

        .tools {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            .icon {
                font-size: 5rem;
                color: $secondary-foreground-color;
                padding: 0.25rem;
            }
        }
    }
}

#contact {
    background: url("../img/contact-bg.png") no-repeat right center/contain;
    background-color: $footer-background;
    color: $primary-foreground-color;

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 600px;

        label {
            color: $primary-foreground-color;
            text-align: left;
        }

        input,
        textarea {
            padding: 10px;
            border: 1px solid #ddd;
            background-color: rgba(255, 255, 255, 0.85);
            outline: none;
        }

        textarea {
            resize: vertical;
            overflow-y: hidden;
        }

        .btn {
            margin: 1rem auto 0 0;
            color: white;
            cursor: pointer;
            background-color: rgba(41, 74, 127, 0.9);
            border: none;

            &:hover {
                background-color: $primary-color;
            }
        }
    }
}

footer {
    padding: 1rem;
    background: $footer-background;
    color: $primary-foreground-color;
    text-align: center;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav-links {
            margin-bottom: 1rem;
        }
    }

    p {
        margin: 1rem 0 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinking {
    animation: blink 0.7s infinite;
    margin-left: 8px;
    font-size: 1.75rem;
    display: inline-block;
    background-color: red;
    width: 16px;
    height: 28px;
    position: relative;
    bottom: -5px;
}

.stop-blinking {
    animation: none;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 14px;
    }

    #hero {
        height: 500px;

        .hero-content {
            padding: 0;
        }
    }

    #contact {
        .container {
            width: 95%;
        }
    }

    #about {
        .about-content {

            .img-container {
                height: 500px;
                background: url("../img/me4-small.webp") no-repeat top center/cover;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    #hero {
        height: 400px;
    }

    #about {
        .about-content {

            .img-container {
                height: 400px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    #hero {
        background: url("../img/hero-bg2-small.webp") no-repeat center center/cover;
    }
}

@media (hover: none),
(pointer: coarse) {
    #about {
        .social-links {
            .icon {
                &:hover {
                    color: $secondary-foreground-color;
                }
            }
        }
    }

    #contact {
        form {
            .btn {
                &:hover {
                    background-color: rgba(41, 74, 127, 0.9);
                }
            }
        }
    }

    .btn {
        &:hover {
            border: 1px solid #cfd4e4;
            color: $secondary-color;
        }
    }
}