footer {
    background-color: black;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: auto 0 0;

    .copyright {
        color: white;
    }
}