.mobile-navigation {
    position: relative;

    .mobile-header {
        position: relative;
        z-index: 1003;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .mobile-toggle {
        font-size: 1.5rem;
        cursor: pointer;

        .open-icon {
            color: #45505B;
        }

        .close-icon {
            color: white;
        }
    }

    /* Full screen slide menu */
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1002;

        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        padding-top: 4rem;

        background: #000;

        transform: translateY(-100%);
        transition: transform 0.4s ease;
    }

    .mobile-menu.open {
        transform: translateY(0);
    }

    @media (min-width: 601px) {
        display: none;
    }
}