$hover-highlight: #ffc42e;

.navigation {
    position: relative;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            color: white;
            cursor: pointer;
            letter-spacing: 1px;
            transition: color 0.3s ease;

            &:hover {
                color: $hover-highlight;
            }

            a {
                text-decoration: none;
                color: white;
                transition: color 0.3s ease;

                &:hover {
                    color: $hover-highlight;
                }
            }
        }
    }
}