$hover-highlight: #ffc42e;

.navigation {
    ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        gap: 1rem;

        li {
            color: white;
            cursor: pointer;
            transition: color .3s;
            letter-spacing: 1px;

            &:hover {
                color: $hover-highlight;
            }

            a {
                text-decoration: none;
                color: white;
                transition: color .3s;

                &:hover {
                    color: $hover-highlight;
                }
            }
        }
    }
}